/* common styles */
/* font */
* {
    margin: 0;
}

body {
    font-family: "Work Sans", sans-serif;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    margin: 130px 0;
}

/* global Title */
.global-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}

/* common button */
.btn-common {
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background-color: #FFF;
    padding: 20px 25px;
    border: none;
}

/* header styles */
header {
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}

.header-container {
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.header-content-container {
    width: 494px;
    text-align: right;
    margin: 300px 0;
}

.header-main-heading {
    color: #FFF;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 0;
}

.header-main-description {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 32px;
}

/* main styles */
/* about section style */
.about-main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-container {
    width: 416px;
}

.about-description {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 16px;
}

.about-container>ul {
    padding: 0;
}

.about-container>ul li {
    list-style-type: none;
    margin-bottom: 8px;
    color: #434443;
    font-size: 16px;
    font-weight: 400;
}

.tik-color {
    color: #16D887;
}